
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-items:center;
	position:center;
	flex-direction:fullscreen;
	width:100%;
}
.item{
	justify-content:center;
	align-items:center;
	position:center;
}